<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-dark alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container-fluid pt-lg-md">
            <div class="card card-profile shadow mt--300">
                <div class="p-4">
                    <h2>Contact Us</h2>
                    <div class="py-5 border-top">
                        <div class="row  justify-content-center ">
                            <div class="col-lg-5">
                                <form role="form" [formGroup]="contactForm">
                                    <div class="form-group"
                                         [class.has-danger]="contactForm.controls.name.touched && contactForm.controls.name.errors?.required"
                                         [ngClass]="{'focused':focus===true}">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>
                                            <input class="form-control"
                                                   [class.is-invalid]="contactForm.controls.name.touched && contactForm.controls.name.errors?.required"
                                                   formControlName="name" placeholder="Name"
                                                   type="text" (focus)="focus=true" (blur)="focus=false">

                                        </div>
                                    </div>
                                    <div class="form-group"
                                         [class.has-danger]="contactForm.controls.email.touched && (contactForm.controls.email?.errors?.email || contactForm.controls.email.errors?.required)">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control"
                                                   [class.is-invalid]="contactForm.controls.email.touched && (contactForm.controls.email?.errors?.email || contactForm.controls.email.errors?.required)"
                                                   formControlName="email" placeholder="ex: email@domain.com"
                                                   type="email"
                                                   required="">

                                        </div>
                                    </div>
                                    <div class="form-group mb-4"
                                         [class.has-danger]="contactForm.controls.message.touched && contactForm.controls.message.errors?.required">
                                        <textarea formControlName="message"
                                                  [class.is-invalid]="contactForm.controls.message.touched && contactForm.controls.message.errors?.required"
                                                  class="form-control form-control-alternative" name="name" rows="4"
                                                  cols="80" placeholder="Type a message..."></textarea>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary mt-4"
                                                [disabled]="!contactForm.valid"
                                                (click)="sendMessage()">Send Message
                                        </button>
                                    </div>
                                </form>
                            </div>
                                <div class="border-right pr-1 pl-1"></div>
                                <div class="col-lg-4">
                                    <p><i class="ni ni-pin-3"></i>
                                        El Saaqah St, Inside OCL warehouses , right next to Aramex. Kilo 4.5
                                        .
                                        .
                                        Sheraton Heliopolis.
                                    </p>
                                    <p ><i class="fa fa-phone"></i> +02 0109 799 8844</p>
                                    <div class="email"><a href="#">
                                        info@DigitalPlanetLC.com
                                    </a></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
