<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-dark alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container-fluid pt-lg-md">
            <div class="card card-profile shadow mt--300">
                <div class="p-4">
                    <h2>Return Policy</h2>
                    <div class="py-5 border-top">
                        <div class="row  justify-content-center ">
                            <div class="col-lg-9">
                                <p>
                                    DigitalPlanet are dedicated to provide you with the finest online shopping in Egypt.
                                    However, unlike any in its industry, DigitalPlanet will be happy to assist you for refunds
                                    or returns.
                                </p>
                                <h3>DigitalPlanet conditions for a product to be refunded:</h3>

                                <ul class="list-style">
                                    <li>Item has been lost (either internationally or nationally).
                                    </li>
                                    <li>Item is damaged (physical damage of the product occurred during the shipping
                                        process, improper packaging that caused the damage) excluding software errors.
                                    </li>
                                    <li>DigitalPlanet wasn't able to meet the delivery terms agreed upon (items were delivered
                                        later than what was promised).
                                    </li>
                                    <li>Items delivered weren’t complete or pieces were missing (in this case the
                                        customer has the right to refuse the package)
                                    </li>
                                    <li>Wrong/different items from what have been ordered (according to the description
                                        provided by the seller).
                                    </li>

                                </ul>
                                <h3>DigitalPlanet conditions for a product to be returned:</h3>

                                <ul class="list-style">
                                    <li>
                                        Approval must be taken from the seller in order to proceed further.
                                    </li>
                                    <li>
                                        Shipping fees back to its seller are charged on the customer.
                                    </li>
                                    <li>
                                        Item must be in new condition.
                                    </li>
                                    <li>
                                        Item must be returned with all its original packaging and accessories.
                                    </li>
                                    <li>
                                        Media items (such as movies, video games, software etc.) must be in their original package, unopened and still in their plastic wrap.
                                    </li>
                                    <li>
                                        Electronics (such as televisions, DVDs etc.) must have a UPC serial number.
                                    </li>
                                    <li>
                                        Shoes and clothing must be unworn.
                                    </li>
                                </ul>

                                <p>* When receiving your order from the local office, it is recommended to do a regular check on product(s) physical condition, Quantity and all the components related, reporting any issue past leaving the office will not be valid.</p>

                                <p>* In the case of receiving a wrong/physically damaged product(s) or a product with a missing part from the shipping company, the incident should be reported within 2 days starting from the delivery date (including regular and national holidays) to be able to take the proper action, reporting past this period will not be valid.</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
