<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
            Zelious <p class="mb-1 small text-primary">Beta</p>
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a class="font-weight-bold" [routerLink]="['/']">
                            Zelious <p class="mb-1 small text-dark">Beta</p>
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" [routerLink]="['/']">
                        <span class="nav-link-inner--text">Home</span>
                    </a>
                </li><li class="nav-item">
                    <a class="nav-link nav-link-icon" [routerLink]="['/contact-us']">
                        <span class="nav-link-inner--text">Contact Us</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item" *ngIf="!auth.currentUser">
                    <a class="nav-link nav-link-icon" [routerLink]="['/login']" title="Login">
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!auth.currentUser">
                    <a class="nav-link nav-link-icon" [routerLink]="['/register']" title="Create account">
                        <span class="nav-link-inner--text">Register</span>
                    </a>
                </li>
                <!--<li class="nav-item" *ngIf="userLogged">-->
                    <!--<a href="#" class="nav-link nav-link-icon">-->
                       <!--<span class="nav-link-inner&#45;&#45;text">{{userLogged.name}}</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="nav-item" *ngIf="auth.currentUser">
                    <a class="nav-link nav-link-icon" [routerLink]="['/my-orders']" title="Your orders">
                        <span class="nav-link-inner--text">My Orders</span>
                    </a>
                </li>

                <li class="nav-item" *ngIf="auth.currentUser">
                    <a class="nav-link nav-link-icon" href="#" (click)="logOut()" title="Sign out">

                        <span class="nav-link-inner--text"><i class="fa fa-sign-out"></i> Logout</span>
                    </a>
                </li>
                <li class="nav-item d-lg-block ml-lg-4"><a
                        class="btn btn-success btn-lg btn-block btn-icon"
                        [routerLink]="['/order']"><span
                        class="btn-inner--icon"><i
                        class="fa fa-plus mr-2"></i></span><span
                        class="nav-link-inner--text">New Order</span></a></li>
            </ul>
        </div>
    </div>
</nav>
