<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-dark alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container-fluid pt-lg-md">
            <div class="card card-profile shadow mt--300">
                <div class="p-4">
                    <h2>Privacy Policy</h2>
                    <div class="py-5 border-top">
                        <div class="row  justify-content-center ">
                            <div class="col-lg-9">
                                <h3>What information do we collect?</h3>
                                <p>
                                    We collect information from you when you register on our site, place an order,
                                    subscribe to our newsletter, respond to a survey or fill out a form.

                                    When ordering or registering on our site, as appropriate, you may be asked to enter
                                    your: name, e-mail address, mailing address, phone number.

                                    Google, as a third party vendor, uses cookies to serve ads on your site. Google's
                                    use of the DART cookie enables it to serve ads to your users based on their visit to
                                    your sites and other sites on the Internet. Users may opt out of the use of the DART
                                    cookie by visiting the Google ad and content network privacy policy..
                                </p>
                                <h3>What do we use your information for?</h3>
                                <p>Any of the information we collect from you may be used in one of the following
                                    ways:</p>
                                <ul class="list-style">
                                    <li><b>To personalize your experience</b><br> (your information helps us to better
                                        respond to your individual needs)
                                    </li>
                                    <li><b>To improve our website</b><br> (we continually strive to improve our website
                                        offerings based on the information and feedback we receive from you)
                                    </li>
                                    <li><b>To improve customer service</b><br> (your information helps us to more
                                        effectively respond to your customer service requests and support needs)
                                    </li>
                                    <li><b>To process transactions</b><br> Your information, whether public or private,
                                        will not be sold, exchanged, transferred, or given to any other company for any
                                        reason whatsoever, without your consent, other than for the express purpose of
                                        delivering the purchased product or service requested.
                                    </li>
                                    <li><b>To administer a contest, promotion, survey or other site feature</b><br></li>
                                    <li><b>To send periodic emails</b><br> The email address you provide for order
                                        processing, may be used to send you information and updates pertaining to your
                                        order, in addition to receiving occasional company news, updates, related
                                        product or service information, etc. Note: If at any time you would like to
                                        un-subscribe from receiving future emails, we include detailed un-subscribe
                                        instructions at the bottom of each email.
                                    </li>
                                </ul>
                                <h3>Do we use cookies?</h3>
                                <p>
                                    Yes (Cookies are small files that a site or its service provider transfers to your
                                    computers hard drive through your Web browser (if you allow) that enables the sites
                                    or service providers systems to recognize your browser and capture and remember
                                    certain information

                                    We use cookies to help us remember and process the items in your shopping cart,
                                    understand and save your preferences for future visits, keep track of advertisements
                                    and compile aggregate data about site traffic and site interaction so that we can
                                    offer better site experiences and tools in the future. We may contract with
                                    third-party service providers to assist us in better understanding our site
                                    visitors. These service providers are not permitted to use the information collected
                                    on our behalf except to help us conduct and improve our business.

                                    If you prefer, you can choose to have your computer warn you each time a cookie is
                                    being sent, or you can choose to turn off all cookies via your browser settings.
                                    Like most websites, if you turn your cookies off, some of our services may not
                                    function properly. However, you can still place orders over the telephone or by
                                    contacting customer service.
                                </p>
                                <h3>Do we disclose any information to outside parties?</h3>
                                <p>We do not sell, trade, or otherwise transfer to outside parties your personally
                                    identifiable information. This does not include trusted third parties who assist us
                                    in operating our website, conducting our business, or servicing you, so long as
                                    those parties agree to keep this information confidential. We may also release your
                                    information when we believe release is appropriate to comply with the law, enforce
                                    our site policies, or protect ours or others rights, property, or safety. However,
                                    non-personally identifiable visitor information may be provided to other parties for
                                    marketing, advertising, or other uses.</p>
                                <h3>Can you deactivate your account?</h3>
                                <p>Once you have made an account, you will not be able to deactivate it. However,
                                    according to our privacy policy, any personal information you provide us is
                                    confidential.</p>
                                <h3>Third party links</h3>
                                <p>Occasionally, at our discretion, we may include or offer third party products or
                                    services on our website. These third party sites have separate and independent
                                    privacy policies. We therefore have no responsibility or liability for the content
                                    and activities of these linked sites. Nonetheless, we seek to protect the integrity
                                    of our site and welcome any feedback about these sites.</p>
                                <h3>Children's Online Privacy Protection Act Compliance</h3>
                                <p>We are in compliance with the requirements of COPPA (Children's Online Privacy
                                    Protection Act), we do not collect any information from anyone under 13 years of
                                    age. Our website, products and services are all directed to people who are at least
                                    13 years old or older.</p>
                                <h3>Terms and Conditions</h3>
                                <p>Please also visit our Terms and Conditions section establishing the use, disclaimers,
                                    and limitations of liability governing the use of our website at
                                    <a [routerLink]="['/terms']">Terms and Conditions page</a></p>
                                <h3>Contacting Us</h3>
                                <p>
                                    If there are any questions regarding this privacy policy you may contact us using
                                    the
                                    information below.
                                    16546
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
