<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-dark alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container-fluid pt-lg-md">
            <div class="card card-profile shadow mt--300">
                <div class="p-4">
                    <h2>Terms and conditions</h2>
                    <div class="py-5 border-top">
                        <div class="row  justify-content-center ">
                            <div class="col-lg-9">

                                <p>
                                    Welcome to Zelious. These are the terms and conditions governing your access to and
                                    use of the website Zelious.net

                                    By accessing, browsing, and using our website or any of our applications through
                                    whatever platform and/or by placing your order, you acknowledge and agree to have
                                    read, understood, and agreed to the terms and conditions set out below
                                </p>
                                <h3>Communications</h3>
                                <p>- We will send notices and any pertinent information to you on the e-mail address you
                                    provided while registering to Zelious website or have subsequently updated.</p>

                                <p> - You can contact us through the channels mentioned on the contact us page
                                    (Facebook, Whatsapp , hotline 16546 and E-mail ).</p>

                                <p>- Requests placed past our working hours that need an immediate action from our side
                                    are not valid.</p>

                                <h3>Account and Registration</h3>
                                <p>- Customers can only own one registered account and Zelious has the right to suspend
                                    any user with multiple accounts.</p>
                                <p>- Zelious has the right to ask for verification through the phone, email or at the
                                    front office to verify the account holder.</p>
                                <p>- Zelious might ask you for a copy of your national ID, when needed, to avoid
                                    shipment(s) held/delays in customs.</p>
                                <p> Your National ID should be Valid.</p>
                                <p>The name you register with on your Zelious account should match your name on your
                                    national ID, to avoid any issues at customs clearance. Changing the name of the
                                    airway bill after the process of shipping will cost you 500 EGP.</p>
                                <p>We will only be responsible for the delay if you already uploaded your ID when it was
                                    requested.</p>
                                <h3>Do we disclose any information to outside parties?</h3>
                                <p>We do not sell, trade, or otherwise transfer to outside parties your personally
                                    identifiable information. This does not include trusted third parties who assist us
                                    in operating our website, conducting our business, or servicing you, so long as
                                    those parties agree to keep this information confidential. We may also release your
                                    information when we believe release is appropriate to comply with the law, enforce
                                    our site policies, or protect ours or others rights, property, or safety. However,
                                    non-personally identifiable visitor information may be provided to other parties for
                                    marketing, advertising, or other uses.</p>
                                <h3>Applicable law</h3>
                                <p>By using any Zelious Service, you agree that the Federal Arbitration Act, applicable
                                    federal law, and the laws of the UK, without regard to principles of conflict of
                                    laws, will govern these Conditions of Use and any dispute of any sort that might
                                    arise between you and Zelious.</p>
                                <h3>Placing your order</h3>
                                <p>- You will need to read the product(s) listing carefully to make sure products that
                                    arrive match the seller's description. (E.g. making sure your electronic product's
                                    voltage matches your country's voltage system).</p>
                                <p>- All Facebook page calculations/quotations or any other means that are affiliated
                                    with us are just estimates.</p>
                                <p>- Zelious will issue a claim reimbursement which includes all actual expenses paid on
                                    behalf of the customer, and the customer has no rights to claim for any original or
                                    supporting documents mentioned in the company’s claim reimbursement.</p>
                                <p>- You are responsible of filling in your order's specifications accurately as written
                                    on the seller's listing such as your product's color, size or model to avoid any
                                    delays in the review process or any wrongly received products.</p>
                                <p>- General Size charts may give approximate values and measurements, therefore your
                                    product(s) sizing may not match the measurements mentioned on the chart.</p>
                                <p>- The maximum number of items you can place in your cart per order is 30.</p>
                                <p>- Only one coupon code can be issued per person per account.</p>
                                <p>- Coupons are not redeemable for cash and are valid for one time & one purchase
                                    only.</p>

                                <h3>Review & Purchasing</h3>
                                <p>- Reviewing your order will be within one business day and It will be purchased
                                    within two business days from the payment date.</p>
                                <p>- Domestic shipping fees & rates are charged by the seller and it will be added to
                                    your order after the review process.</p>
                                <p>- You can cancel/edit your item(s) before you pay for it, once you pay, cancellation/
                                    edit won’t be available. It can only be canceled if we haven’t purchased it
                                </p>
                                <p>- Cancelling/ holding the whole order option won’t be applicable to bid items/ make
                                    offer items. </p>
                                <p>- Zelious does not guarantee to deliver the gifts/samples your order might include on
                                    the seller's website.</p>
                                <p>- The price you are notified with during the review process can be changed, if it
                                    gets changed after you make your payment we will notify you by email.</p>
                                <p>- You can choose the Final cost option while placing your order (from the beginning)
                                    which means after you make your order (mostly within the same day) we will review it
                                    and apply the estimated weight on your order.</p>
                                <p>- Final cost orders cannot be reweighted when they reach our office in Egypt.</p>
                                <p>- Quantity limitations may change according to authorities or customs
                                    regulations.</p>
                                <p>- Categories and tariffs are set according to customs regulations & authorities.</p>
                                <p>- The maximum quantity of Products that require approvals from the Ministry of
                                    Communications or the Ministry of Health, such as mobile phones, supplements,
                                    Bluetooth devices and wireless devices, is 2 per year per customer.</p>
                                <p>- If you are ordering a car/motorcycle spare part, your driving license may be
                                    requested.</p>
                                <p>- Please be informed that your order will be canceled automatically after 15- 22 days
                                    in case you didn’t pay it.</p>

                                <h3>Ordering item(s) on your own Responsibility </h3>
                                <p>If you accepted to get any of the prohibited items on your own responsibility, you
                                    have to be aware of the below:</p>
                                <ul class="list-style">
                                    <li>Item(s) might be held at customs with unlimited service level.</li>
                                    <li> Item(s) might require you to physically go to clear it from customs
                                        checkpoint.
                                    </li>
                                    <li> Zelious return/refund policy is not applied on this item(s).</li>
                                    <li> We are aware that this product(s) might have been shipped in the past without
                                        responsibility, however, customs rules & regulations change all the time.
                                    </li>
                                </ul>
                                <h3>Shipping, Clearance & Storage</h3>
                                <p>Zelious's service level starts when the shipment arrives at one of our warehouses,
                                    the period before we receive the order(s) at any of our warehouses depends on the
                                    seller, not Zelious.</p>
                                <p>- Zelious is not responsible for any delay may cause from the seller side while
                                    shipping your order to one of our warehouses.</p>
                                <p>- Some categories such as (cosmetics, makeup, mobile phones, tablets, supplements,
                                    Bluetooth devices and wireless) may face delay during customs clearance which may
                                    exceed our service level.</p>
                                <p>- The weight mentioned on the seller's site is an approximation and may not be
                                    exact.</p>
                                <p>- If you accepted to get any of the prohibited items on your own responsibility and
                                    it got held\ rejected by the customs authorities, Zelious will not be responsible
                                    for any loss, damage, delay or customs clearance delays, also Refund and Reorder
                                    terms and conditions will not be applicable in such case.</p>
                                <p>- Once your order reaches our local office and be ready for delivery, we will store
                                    it for you, free of charge, for a period of up to 20 days, after 20 days your order
                                    might be deemed abandoned and we may dispose of it in any manner permitted by
                                    law.</p>
                                <p>- Some products may arrive opened/unsealed due to customs clearance and checking
                                    process, in such a case, Zelious will not be able to refund or return those
                                    products.</p>
                                <p>- By default, the international shipping fees (weight fees) is to be determined and
                                    applied when we receive your order to our Egypt office and get it weighed, unless
                                    you requested to pay the final cost while placing your order.</p>


                                <h3>Returns & Refunds</h3>
                                <p>
                                <p>- Zelious guarantees to deliver the items in the same condition stated by the
                                    seller.</p>

                                <p>- Zelious.net is responsible for delivering the product with the exact
                                    specifications you have set on the date you have ordered.
                                </p>
                                <p>- We guarantee to get you the size you applied during making your order, but we
                                    don't guarantee the fitting size. e.g. (if you order size Large and the item comes
                                    in small we will provide you with the right to either reorder it or get a refund for
                                    it, But if you order Size Large and the item comes in Large but it doesn't fit you,
                                    We will not guarantee or be responsible in such a case).
                                </p>
                                <p>- In case you request a return, we will contact the seller upon your request
                                    regarding product exchanges or return. we will arrange for the return only if
                                    approved by the seller. Also, we will apply the applicable return charges (Depends
                                    on the item's weight or Dimension and the seller's return charges).
                                </p>
                                <p>- Chinese clothes usually come with a Chinese size tag that displays larger sizes,
                                    after referring to the size guide, if proven right, the product(s) will not be
                                    canceled.
                                </p>
                                <p>- In case you requested to return an item and it is returnable, the item should be
                                    unused, unwashed and unworn in its original condition and you must return it in the
                                    certain time frame you will be advised to return within.
                                </p>
                                <p>- Please be advised that we cannot accept returns for Some items due to hygiene
                                    reasons. (E.g.: underwear, swimwear, etc).
                                </p>
                                <p>- Zelious only guarantees defects caused by the shipping process.
                                </p>
                                <p>- Zelious does not guarantee the physical or technical damaged / defection that
                                    caused by the voltage.
                                </p>
                                <p>- Zelious does not guarantee the physical or technical condition of any
                                    used/refurbished items even if it did not match the seller's description.
                                </p>
                                <p>- In the case of receiving a physically damaged product(s) from the shipping
                                    company, the incident should be reported within 2 days starting from the delivery
                                    date (including regular and national holidays) to be able to take the proper action,
                                    reporting past this period will not be valid.
                                </p>
                                <p>- When receiving your order from the local office, it is recommended to do a regular
                                    check on product(s) physical condition, Quantity and all the components related,
                                    reporting any issue past leaving the office will not be valid.
                                </p>
                                <p>- Refunds are to be done through the same payment method you used.
                                </p>
                                <p>- Credit card refunds can take from 5 to 10 business days to be reflected on your
                                    bank account, the whole process is controlled by the bank not Zelious.
                                </p>
                                <p>- Transaction number of any credit card refund won’t be available from our side.
                                </p>
                                <p>- In the case of loss or damage of all or part of a shipment, Zelious will guarantee
                                    you refund or reorder after passing (Exceeding) the service level (Which is from
                                    8-21 business days from the day we receive the order to our US warehouse).
                                </p>
                                <p>- Zelious is only responsible for returning the product if it doesn't match the
                                    seller's product description and It doesn’t guarantee the quality of items you
                                    order.
                                </p>
                                <p>- Product package might arrive with damage due to the shipping process, in this
                                    case, refund/ reorder won’t be valid as long as the product itself is not
                                    affected.</p>
                                <h3>Circumstances beyond Our Control</h3>
                                <p>- Zelious is not liable for any loss or damage arising out of circumstances beyond
                                    Zelious control. These include but are not limited to: natural disasters or acts of
                                    God, for example fire, earthquake, hurricane, tornado, storm, flood, fog; plane
                                    crash or embargo; war, riot, civil commotion or industrial action; epidemics or
                                    pandemics; power cuts, communications or other utility disruptions; governmental
                                    action or inaction; any defect or characteristic related to the nature of a
                                    shipment, or erasure of electronic or photographic images, data or recordings due to
                                    electrical or magnetic interference.
                                </p>
                                <p>- We deal with third-party domestic couriers that they are solely responsible for
                                    their brands and their employees. But we will keep on following up with them to make
                                    sure to provide you with the best quality.</p>
                                <h3>Zelious as delegate</h3>
                                <p>You chose edfa3ly to follow all import, export, and customs clearance operations and
                                    to pay all customs dues and taxes to the competent tax and customs authorities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
